@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
}

main {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.grid-container {
   background-color: #ffffff;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(20, 1fr);
   gap: 24px;
   width: 100vw;
   height: 100vh;
}

.item1 {
   grid-area: 2/1/7/3;
   background-color: #007f5f;
}

.item2 {
   grid-area: 7/1/13/3;
   background-color: #2b9348;
}

.item3 {
   grid-area: 2/3/13/5;
   background-color: #80b918;
}

.item4 {
   grid-area: 2/5/5/7;
   background-color: #dddf00;
}

.item5 {
   grid-area: 5/5/9/7;
   background-color: #eeef20;
}

.item6 {
   grid-area: 9/5/13/7;
   background-color: #ffff3f;
}

.item7 {
   grid-area: 13/1/21/3;
   background-color: #55a630;
}

.item8 {
   grid-area: 13/3/17/4;
   background-color: #aacc00;
}

.item9 {
   grid-area: 17/3/21/4;
   background-color: #bfd200;
}

.item10 {
   grid-area: 13/4/21/6;
   background-color: #d4d700;
}

.item11 {
   grid-area: 13/6/21/7;
   background-color: #007f5f;
}

.item12 {
   grid-area: 21/1/24/7;
   background-color: #9bc1bc;
   padding-left: 24px;
}

.title {
   color: #000000;
   font-size: 64px;
}
